<nav class="navbar">
  <div class="logo" routerLink="/">Pace<span>Team</span></div>
  
  <div class="nav-container">
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a></li>
      <li><a routerLink="/treinos" routerLinkActive="active">Explorar Treinos</a></li>
      
      <li *ngIf="user$ | async"><a routerLink="/dashboard" routerLinkActive="active">Meu Painel</a></li>
    </ul>

    <div class="nav-actions">
      <ng-container *ngIf="!(user$ | async)">
        <a routerLink="/login" class="btn-login-text">Entrar</a>
        <a routerLink="/cadastro" class="btn-signup-pill">Começar Agora</a>
      </ng-container>

      <div class="user-logged" *ngIf="user$ | async as user">
        <div class="user-profile" routerLink="/perfil">
          <span class="user-name">{{ user.nome }}</span>
          <img [src]="user.foto || 'https://i.pravatar.cc/150?u=a'" class="nav-avatar">
        </div>
        <button (click)="logout()" class="btn-logout-icon" title="Sair">
          <svg viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4M16 17l5-5-5-5M21 12H9"/></svg>
        </button>
      </div>
    </div>
  </div>
</nav>